<% include ../partials/header.ejs %>


<div class="row form-background">
	
	<div class="col-md-12 text-center">
		<h1>Edit <%= campground.name %></h1>
	</div>

	<div class="container form">
		<form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
			<div class="form-group">
				<label for="name">Name</label>
				<input class="form-control" type="text" value="<%= campground.name %>" name="name" required>
			</div>

			<div class="form-group">
				<img class="img-thumbnail" src="/images/campgrounds/<%= campground.image %>">
				<label for="image">Upload new image</label>
				<!-- 'accept="image/*"' makes it so that only image
				files can be uploaded -->
				<input type="file" id="image" name="image" accept="image/*">
			</div>

			<div class="form-group">
				<label for="price">Price</label>
				<input class="form-control" type="number" value="<%= campground.price %>" name="price" min="0" step="0.01" required>
			</div>

			<div class="form-group">
				<label for="location">Location</label>
			    <input class="form-control" type="text" name="location" id="location" value="<%= campground.location %>" required>
			</div>

			<div class="form-group">
				<label for="description">Description</label>
				<input class="form-control" type="text" value="<%= campground.description %>" name="description" required>
			</div>

			<div class="form-group text-center">
				<button class="btn btn-lg btn-success">Submit!</button>
			</div>
		</form>

		<a href="/campgrounds">Go Back to Campgrounds Page</a>

	</div>
</div>


<% include ../partials/footer.ejs %>